@import './../../../../styles.scss';

#modal-component {
    .modal-container {
        height: 276px;
        .modal-sub-container {
            .header {
                display: flex;
                justify-content: space-between;
                .icon {
                    height: 24px;
                    width: 24px;
                    color: $grayClose;
                }
            }
            .title {
                text-align: center;
                margin-top: 16px;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0.01em;
                line-height: 22px;
                color: $txtGrayTitle;
            }
            .description {
                text-align: center;
                margin-top: 38px;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                padding-left: 4px;
                padding-right: 4px;
                color: $txtGrayInput;
            }
            .modal-button-container {
                margin-top: 24px;
                display: flex;
                justify-content: center;
            }
        }
    }

    &.Modal {
        position: absolute;
        background-color: #fff;
        inset: auto 16px 11px;
        border: 1px solid #E9F1E4;
        filter: none !important;
        box-shadow: 4px 8px 16px 4px rgba(105, 111, 114, 0.2);
        border-radius: 8px;
        padding: 20px;
        outline: none;
        @media only screen and (min-width: 750px) {
            inset: auto 23% 11px;
        }
      }
}

.Modal-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
  }