@import './../../../../styles.scss';

#footer {
	width: 100%;
	background-color: $white;
	display: block;
	justify-content: center;
	.footer-content {
		&.page-container {
			height: 100%;
			min-height: 120px;
			display: flex;
			align-items: center;
			background: $white;
		}
	}
}
