#filestatus-component {
    &.container {
        display: flex;
        align-items: center;
        width: fit-content;
        .status-container {
            margin-left: 25px;
            .status-message {
                font-family: 'Montserrat';
                font-size: 16px;
                color: #000;
                font-weight: 500;
            }
            .error-message {
                font-family: 'Montserrat';
                font-size: 16px;
                color: #979797;
                margin-top: 5px;
            }
        }
    }
}

