#signin-screen {
  text-align: center;

  img {
    margin-top: 20px;
  }

  .btn-back {
    position: absolute;
    left: 20px;
    top: 45px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  form {
    padding: 40px;
    text-align: left;

    h1 {
      font-size: 24px;
    }

    button {
      width: 100%;
      height: 56px;
      background: #000000;
      border: 1px solid #303030;
      border-radius: 100px;

      color: white;
    }
  }
}
