@import './../../../../styles.scss';

#warning-modal-component {
    .warning-modal-container {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .warning-modal-sub-container {
            .header {
                display: flex;
                justify-content: center;
            }
            .description {
                text-align: center;
                margin-top: 38px;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                padding-left: 4px;
                padding-right: 4px;
                color: $txtGrayInput;
            }
        }
        .modal-button-container {
            cursor: pointer;
            text-align: center;
            border-top: 1px solid #DDDDDD;
            margin-left: -20px;
            margin-right: -20px;
            padding-top: 12px;
            margin-bottom: -9px;
            color: $primary;
            font-weight: 700;
            font-size: 16px;
        }
    }
    
    &.Modal {
        position: absolute;
        background-color: #fff;
        inset: 35% 10% auto;
        border: 1px solid #E9F1E4;
        filter: none !important;
        box-shadow: 4px 8px 16px 4px rgba(105, 111, 114, 0.2);
        border-radius: 8px;
        padding: 20px;
        outline: none;
        @media only screen and (min-width: 750px) {
            inset: 35% 23% auto;
        }

      }  
}

.Warning-Modal-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
  }

