@import './../../../../styles.scss';

#header {
	border-bottom: 1px solid #E8E8E9;
	width: 100%;
	display: block;
	justify-content: center;
	.header-content {
		height: 100%;
		min-height: 88px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: $white;
		.header-profile {
			align-items: center;
			justify-content: center;
			display: flex;
			p {
				margin: 0 80px 0 0;
				font-size: 12px;
				font-weight: 500;
				font-family: 'Montserrat', sans-serif;
				color: $grayClose;
			}
			#button-component {
				.label {
					font-size: 14px;
					font-weight: 700;
					height: 16px;
				}
			}
		}
	}
}
